*.pbtxt filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
models/**/*.json filter=lfs diff=lfs merge=lfs -text
models/**/*.bin filter=lfs diff=lfs merge=lfs -text
models/**/*.weights filter=lfs diff=lfs merge=lfs -text
assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/**/*.png filter=lfs diff=lfs merge=lfs -text
public/models/**/* filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
public/models/proto/ssd_mobilenet_face_optimized_v2.pbtxt filter=lfs diff=lfs merge=lfs -text
public/models/uncompressed/tiny_yolov2_model.weights filter=lfs diff=lfs merge=lfs -text
